<ion-view view-title="Mes remises encours">
<ion-content class = "padding">

  <div class="list list-inset">

    <label class="item item-input item-stacked-label">
      <B>  <span class="input-label " >Remise par défaut : </span></B><br>
      <label  class="item-input">15%</label>
    </label>

    <label class="item item-input item-stacked-label">
      <B>  <span class="input-label " >Remise par produit : </span></B><br>
        <ion readonly style="border: 2px solid forestgreen;" rows="4" >Description ..........dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
        ddddddddddddddddddddddddddddddddddddddddddddssssssssssssssssssssssssssssssssssssssssssss</ion>
    </label>


  </div>

</ion-content>


</ion-view>
