
<ion-tabs class="tabs-balanced tabs-color-active-stable">

  <!-- chart commandes par mois Tab -->
  <ion-tab title="Commandes par mois"  href="#/tab/commandesParMois">
    <ion-nav-view name="tab-chart-commandesParMois"></ion-nav-view>
  </ion-tab>

  <!-- chart commandes  Tab -->
  <ion-tab title="Commandes"  href="#/tab/commandes">
    <ion-nav-view name="tab-chart-commandes"></ion-nav-view>
  </ion-tab>

  <!-- grid factures pas payes Tab -->
  <ion-tab title="Factures à payer"  href="#/tab/facturesNonPayees">
    <ion-nav-view name="tab-grid-facturesNonPayees"></ion-nav-view>
  </ion-tab>


</ion-tabs>
